body{
    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    justify-content: center;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    width: 432px;
    height: 432px;
    border-style: solid;
    border-color: black;
}

.box{
    flex: 1 1 5.7%;
    border-width: 1px;
    border-style: solid;
    border-color: slategray;
    justify-content: flex-start;
    align-content: flex-start;
}

